<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/app/">E-Commerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/app/">Home</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/about/">Acerca de mí</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Usuarios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/app/create_user">Crear Usuario</a>
                        <a class="dropdown-item" href="/app/show_users">Usuarios</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Productos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/app/create_product">Crear Producto</a>
                        <a class="dropdown-item" href="/app/show_products">Productos</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Carritos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/app/create_cart">Crear Carrito</a>
                        <a class="dropdown-item" href="/app/show_carts">Carritos</a>
                    </div>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <p class="nav-link active" aria-current="page" style="margin: 0%">User: {{ user.get_username }}</p>
                </li>
                <img style="height: 40px" src="{{ user.avatar.imagen.url }}" alt="avatar">
                <a class="btn btn-primary" href="/accounts/logout/">Logout</a>
                {% else %}
                <a class="btn btn-primary" href="/accounts/login/">Login</a>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>