{% extends 'base.html' %}

{% block dinamic %}

<br>

<div style="text-align: center;">
    <img style="height: 12rem; " src="/media/pictures/about.png" alt="about"/>
</div>

<br>
<h3 style="text-align: center;">¡Gusto en conocerte!</h3>

<div style="text-align: justify; margin-left: 20%; margin-right: 20%">

    <br>

    <p style="font-size: 1.2em;"> Mi nombre es Nicolás Bisio, soy de Rosario, Argentina. Soy licenciado y profesor en Ciencia
        Política. Hace algún tiempo, decidí explorar el desafío de aprender a programar, enfocándome especialmente en el
        desarrollo
        backend.

        <br>
        <br>

        En mi trabajo, me destaco por la seriedad, responsabilidad y compromiso. Mi interés principal radica en el
        aprendizaje
        constante y
        el desarrollo profesional. Estoy abierto a nuevas oportunidades que me permitan expandir mis habilidades y
        contribuir de
        manera significativa en mi campo.
    </p>

    <br>
</div>

<h3 style="text-align: center;">El proyecto</h3>

<div style="text-align: justify; margin-left: 20%; margin-right: 20%">

    <br>

    <p style="font-size: 1.2em;"> Este proyecto implementa conceptos básicos de CRUD en Python, utilizando Django como Framework principal.

        La información es ingresada a la base de datos a través de formularios, y puede ser consultada con filtros de
        búsqueda en vistas HTML.

    </p>

    <br>
</div>



{% endblock %}