{% extends 'base.html' %}

{% block dinamic %}

<div>
    <h1>The Flag's Blog</h1>
    <br>
    <h4>Ingrese el nombre del posteo:</h4>
    <br>
    <form action="/blogs/search_blogs/" method="GET">

        {{ form.as_p }}

        <input type="submit" value="Buscar">

    </form>
</div>

<br>
<br>

<h4>Resultados de la búsqueda</h4>
<h5>Posteos relacionados:</h5>

{% for blog in blogs %}
<table>
    <tr>
        <td><strong>{{ blog.title }}</strong></td>
    </tr>
    <tr>
        <td>Autor: {{ blog.author }}</td>
    </tr>
    <tr>
        <td>Fecha: {{ blog.date }}</td>
    </tr>
</table>

<br>

<table>
    <tr>
        <td><a href="#">Detalles</a></td>
    </tr>
    <tr>
        <td><a href="#">Editar</a></td>
    </tr>
    <tr>
        <td><a href="#">Eliminar</a></td>
    </tr>
</table>

<hr>


{% endfor %}

<p>
    <a href="/blogs/create_blog/">Crear nuevo posteo</a>
</p>

{% endblock %}